#!/bin/bash

### BEGIN INIT INFO
# Provides:          add_jenkins_node
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Registers Jenkins node
### END INIT INFO

echo ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >  "<%= @jenkins_home %>/startup.log"
date                               >> "<%= @jenkins_home %>/startup.log"
echo ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ >> "<%= @jenkins_home %>/startup.log"
cd   <%= @jenkins_home %>
rm -f jenkins-cli.jar
wget <%= @jenkins_url %>/jnlpJars/jenkins-cli.jar >> "<%= @jenkins_home %>/startup.log" 2>&1
publicDNS=`curl http://169.254.169.254/latest/meta-data/public-hostname`
<%= @java_home %>/bin/java -jar jenkins-cli.jar -s <%= @jenkins_url %> groovy addNode.groovy $publicDNS --username <%= @user %> --password <%= @password %> >> "<%= @jenkins_home %>/startup.log" 2>&1
