
// http://jenkins.361315.n4.nabble.com/API-to-create-manage-nodes-tp4274306p4654314.html
// http://javadoc.jenkins-ci.org/jenkins/model/Jenkins.html
// http://javadoc.jenkins-ci.org/hudson/slaves/DumbSlave.html
// https://github.com/jenkinsci/ssh-slaves-plugin/blob/ssh-slaves-0.25/src/main/java/hudson/plugins/sshslaves/SSHLauncher.java#L256


import jenkins.model.*
import hudson.model.*
import hudson.slaves.*
import hudson.plugins.sshslaves.*

final publicDNS = args[0]
final node      = new DumbSlave( '<%= @name %>',
                                 '<%= @description %>',
                                 '<%= @home %>',
                                 '<%= @executors %>',
                                 Node.Mode.EXCLUSIVE,
                                 '<%= @label %>',
                                 new SSHLauncher( publicDNS, <%= @port %>, '<%= @user %>', '', '<%= @key_path %>', '' ),
                                 new RetentionStrategy.Always(),
                                 [] )

Jenkins.instance.removeNode( node )
Jenkins.instance.addNode( node )

println """
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 Added node [<%= @name %>] as [$publicDNS]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
"""