umask 002
PS1='#[\h][\u][\t][\w]\$ '

# General

alias ps='ps -Af'
alias bp='vi ~/.bash_profile'
alias sbp='source ~/.bash_profile'
alias cls='clear'
alias env='clear && env | sort'
alias j='psg java'
alias l='ls -al'
alias md='mkdir'
alias pack='tar -czf'
alias unpack='tar -xzf'
alias rd='rmdir'
alias grw='./gradlew -S $*'
alias myip='ip addr | grep '\''scope global eth0'\'' | awk '\''{print $2}'\'' | cut -d "/" -f 1'
alias cc='rm -rf ~/.npm ~/.gradle ~/.jenkins/workspace/*/caches ~/.jenkins/workspace/*/native ~/.jenkins/workspace/*/wrapper'
alias scc='sudo chef-client --log_level debug'

# Git

alias gd='git diff $*'
alias gs='git status $*'
alias gl='git log --format=format:[%h]-[%cn]-[%cr]-[%s] -10 $*'
alias gls='git log --stat --date=relative -1 $*'
alias gd='git diff $*'
alias gdf='git diff --name-status $*'
alias gor='git remote -v | grep -E "^origin\s+" | grep "(fetch)" | awk '\''{print $2}'\'''
alias gitsub='git submodule update --init --recursive'

# Environment variables

export JAVA_HOME=<%= @java_home %>
export GROOVY_HOME=<%= @groovy_home %>
export PATH=$JAVA_HOME/bin:$GROOVY_HOME/bin:$PATH
export HISTTIMEFORMAT='%F %T '
export HISTFILESIZE=1000000000
export HISTSIZE=1000000

# Alias functions

function meta()
{
    curl http://169.254.169.254/latest/meta-data/$1
}

# ps + grep
function psg ()
{
    ps -Af | grep $1 | grep -v grep
}

# Setup Node.js environment
function n()
{
    . ~/.nvm/nvm.sh
    nvm use `ls -al ~/.nvm | grep v0. | awk '{print $9}' | sort | head -1`
    export PATH=./node_modules/.bin:$PATH
}

# git checkout + git status
function gc()
{
  git checkout $*
  git status
}

# mkdir + cd
function mdc() {
  mkdir "$1"
  cd    "$1"
}

# cd + ls
function c () {
   if [ $# = 0 ]; then
      cd
      l
   else
      cd "$*"
      l
   fi
}

# Kills all Java processes
function kj() {
    j | awk '{ print $2 }' | while read pid; do
        echo "kill $pid"
        kill $pid
    done
}

# Kills all Java processes *forcefully*
function kjf() {
    j | awk '{ print $2 }' | while read pid; do
        echo "kill -9 $pid"
        kill -9 $pid
    done
}

# "git fetch" + enhanced "git log"
function ggll() {
  cls
  git status
  git remote update
  git fetch
  gll
}

# Enhanced "git log"
function gll() {
  git --no-pager log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10 $1
  echo
}
