Defaults       !lecture,tty_tickets,!fqdn
root           ALL=(ALL) ALL
%sysadmin      ALL=(ALL) ALL
<%= node[:user] %>   ALL=(ALL) ALL
<%= node[:user] %>   ALL=NOPASSWD:/bin/mv
<%= node[:user] %>   ALL=NOPASSWD:/bin/chown
<%= node[:user] %>   ALL=NOPASSWD:/bin/chmod
<%= node[:user] %>   ALL=NOPASSWD:/usr/sbin/update-rc.d
